

.services-grid {
  display: grid;
  flex-wrap: wrap;
    gap: 20px;
    grid-template-columns: repeat(3, minmax(250px, 1fr));
    justify-content: center;

  }
  

  .service-card {
  perspective: 1000px;
  width: 300px;
  height: 300px;
  text-decoration: none;
  color: inherit;
}

.card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

.service-card:hover .card-inner {
  transform: rotateY(180deg);
}

.card-front,
.card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0,0,0,0.15);
  padding: 1rem;
  background-color: white;
}

.card-front {
  background-color: #ffffff; 
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15); 
  border-radius: 12px;
}
.card-back {
  background-color: #ffffff; /* Blanco puro */
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15); /* Sombra suave */
  border-radius: 12px;
  color: white;
  transform: rotateY(180deg);
}

.btn-see-more {
  margin-top: 1rem;
  padding: 0.5rem 1rem;
  background: white;
  color: #007BFF;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  transition: background 0.3s ease;
}

.btn-see-more:hover {
  background: #e2e6ea;
}
  
  .service-image {
    width: 100%;
    height: 150px;
    object-fit: cover;
  }
  
  .service-info {
    padding: 15px;
  }
  
  .service-info h3 {
    font-size: 1.5rem;
    margin-bottom: 10px;
    color: #0073e6;
  }
  
  .service-info p {
    font-size: 1rem;
    color: #555;
    line-height: 1.5;
  }
  
  .service-icon {
    font-size: 40px;
    color: #4caf50;
    margin-bottom: 15px;
  }

  @media (max-width : 768px){

    .service-card{
      flex-direction: row;
      flex-wrap: wrap;
    }

    .services-grid{
      grid-template-columns: 1fr;
      
    }

    #services{
      overflow: auto;
    }
    
  }