

  .service-item {
    display: flex;
    justify-content: space-between;
    align-items: center; 
    margin-bottom: 30px;
  }
  

  
  
  .service-title {
    font-size: 24px;
    font-weight: bold;
    color: #333;
    margin-bottom: 10px;
  }
  
  ul {
    margin-top: 10px;
    margin-left: 20px;
  }
  
  ul li {
    margin-bottom: 5px;
  }
  

  
  @media (max-width: 768px) {
    .service-item {
      flex-direction: column;
      text-align: center; 
    }

  }
  