
.about {
    padding: 40px 20px;
    background-color: transparent;
    height: auto;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Arial', sans-serif;
}




.values, .mission-vision {
    width: 100%;
    max-width: 900px;
    margin-top: 30px;
    background-color: transparent;
    padding: 20px 30px;
}

.values h3, .mission-vision h3 {
    font-size: 1.8rem;
    color: #2c3e50;
    margin-bottom: 15px;
    border-bottom: 2px solid #f39c12; /* Línea decorativa */
    display: inline-block;
    padding-bottom: 5px;
}

/* List in Values section */
.values ul {
    list-style: disc;
    margin-left: 40px;
    color: #444;
}

.values li {
    margin-bottom: 10px;
    font-size: 1rem;
}

/* Mission and Vision paragraphs */
.mission-vision p {
    font-size: 1rem;
    color: #555;
    line-height: 1.6;
    text-align: justify;
}



/* Responsive Design */
@media (max-width: 768px) {
    .about {
        padding: 20px;
    }

    .typing-title {
        font-size: 2rem;
    }

    .values, .mission-vision {
        padding: 15px 20px;
    }

    .values h3, .mission-vision h3 {
        font-size: 1.5rem;
    }

    .about p {
        font-size: 0.9rem;
    }
}
