
.name{
  color:#3e4194;
}

.call-to-action{

bottom: 80px;
right: 20px;
z-index: 1000;
}

.ika{
  color: #3e4194;
  font-weight: 800;
  font-size: 30px;
}

.request{
  content: "Solicita una consulta";
   background-color: var(--primary-color);
   color: #ffff;;
   display: block;
   width: 50%;
   transition: background-color 0.4s ease, color 0.4s ease-in ;
   border-radius: none !important;
   padding: 20px;
   box-shadow: rgba(23, 31, 114, 0.2) 0px 16px 30px;
}

.request:hover{
  background-color: #ffff;
  color:var(--primary-color)
}

.home-container {
  display: flex;
  flex-direction: column;
  padding: 1rem;
}
.typing-title {
  text-align: center;
  margin-bottom: 2rem;
}


.content-columns {
  display: grid;
  grid-template-columns: 1fr; /* Por defecto una columna (responsive) */
  gap: 1.5rem;
  margin-bottom: 2rem;
}

/* En pantallas medianas y grandes: usar 2 columnas */
@media (min-width: 768px) {
  .content-columns {
    grid-template-columns: 1fr 1fr;
  }
}

.request {
  display: flex;
  justify-content: center;
  margin-top: 1rem;
}
