/* General styles for About section */
.home-container {
  padding: 40px 20px;
  background-color: transparent;
  height: auto;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: 'Arial', sans-serif;
}

.name{
  color:#3e4194;
}

.call-to-action{
position: fixed;
bottom: 80px;
right: 20px;
z-index: 1000;
  
}