footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: clamp(50px, 7vw, 90px);
  background-color: transparent;
  z-index: 1000;
  overflow: hidden;
  transition: height 0.3s ease;
  filter: drop-shadow(0 -10px 5px rgba(0, 0, 0, 0.5));
}

footer::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 140%;
  height: 100%;
  background-color: var(--primary-color);
  clip-path: polygon(0 0, 100% 100%, 0 100%);
  z-index: -1;
}

footer:hover {
  height: clamp(200px, 50vh, 350px);
}

.footer-content {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  height: 100%;
  padding: clamp(0px, 2vw, 10px);
}

.footer-text {
  margin: 5px 0;
  text-align: left;
  font-size: clamp(10px, 2vw, 14px);
  line-height: 1.5;
  color: #fff;
}

.expanded-content {
  opacity: 0; /* Mantén la animación inicial */
  transform: translateY(-10px); /* Mantén la animación de desplazamiento */
  transition: opacity 0.3s ease, transform 0.3s ease;

  display: flex; /* Cambia el diseño a flexbox */
  flex-direction: row; /* Organiza los elementos en fila */
  justify-content: space-between; /* Asegura que los elementos se distribuyan en columnas */
  align-items: flex-start; /* Alinea verticalmente al inicio */
  text-align: left;

  width: 100%; /* Mantén el ancho completo */
  padding: clamp(10px, 2vw, 0px); /* Ajusta el espaciado interno */
  margin-left: 0; /* Elimina el desplazamiento lateral */
  gap: 20px; /* Añade espacio entre las columnas */
}


.expanded-content h3{
  color: #fff;
}

footer:hover .expanded-content {
  opacity: 1;
  transform: translateY(0);
}

.compact-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-bottom: clamp(-10px,2vh,-20px);
}

.compact-content p {
  font-size: clamp(6px, 2vw, 16px);
}

.social-icons {
  display: flex;
  justify-content: center;
  gap: clamp(5px, 1vw, 20px);
}

.social-icons a {
  font-size: clamp(8px, 4vw, 24px);
  color: white;
  transition: color 0.3s ease, transform 0.3s ease;
}

.social-icons a:hover {
  color: #61dafb;
  transform: scale(1.1);
}

.schedule {
  text-align: right;
  font-size: clamp(10px, 2vw, 14px);
  color: white;
}

.contact-info {
  flex: 1; 
  max-width: 65%;
}

.comercial-alinace{
  flex:1;
  text-align: start;
  display: flex;
  justify-content: flex-start;
}

.comercial-list li img{
  height: auto;
  width: clamp(30px,5vw,60px);
  object-fit: contain;
}
  
  .comercial-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center; 
    padding: 0;
    margin: 0;
    list-style: none;
    gap:30px;
  }
    

.container-info{
    display: grid;
    justify-content: space-between;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
  }