
.app-container {
    display: flex;
    flex-direction: column;
    max-width: 100vw;
    max-height: 100vh;
    overflow: hidden;
  }
  
  .main-content {
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    height: 75vh;
    margin:2rem 12rem;
    border-radius: 15px ;
    box-shadow: 0 5px 10px rgba(255, 205, 240, 0.3),
    0 5px 10px rgba(0, 0, 0, 0.3);
    background-image: url('./assets/B.svg');
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    overflow-y: auto; 

}


::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-thumb {
  background-color: #888;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #555;
}



.callToaction {
  position: absolute;
  bottom: 50px;
  right: 20px;
  z-index: 100;
}

@media (max-width: 1024px) {
  .main-content {
      margin: 10rem 2rem;
      max-width: 95%;

  }
}

@media (max-width: 768px) {
  .main-content {
      margin: 5rem 1rem;
      min-height: 60vh;
  }
}
@media (max-width: 1024px) and (orientation: landscape) {
  .main-content {
    margin: 0rem 0rem; 
    height: auto;
    min-height: 50vh;
    max-width: 95%;
    overflow-y: auto; 
  }
  
  .callToaction {
    bottom: 20px;
    right: 10px; 
  }
}

@media (max-height: 768px) and (orientation: landscape) {
  .main-content {
    margin: 0rem 1rem;
    min-height: 50vh; 
    height: auto;
    max-width: 100%;
  }

  .callToaction {
    bottom: 10px;
    right: 5px;
  }
}