.our-work-section {
  padding: 40px 20px;
  background-color: transparent;
  height: 100vh;
  max-width: 90vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: 'Arial', sans-serif;
  overflow: auto;
  scrollbar-width: none !important;
}

.slider-container {
  outline: red 1px solid;
  align-items: center;
  max-width: 80vw;
  justify-content: center;
  gap: 40px;
  box-sizing: border-box;

}

.slider h3 {
  font-size: 24px;
  font-weight: 500;
  margin-bottom: 20px;
  color: #444;
  text-align: center;
}

.service-card {
  width: 250px;
  height: 300px;
  background: white;
  border-radius: 15px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s, box-shadow 0.3s;
  overflow: auto;
}

.service-card:hover {
  transform: scale(1.05);
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
}

.card__background {
  height: 50%;
  background: linear-gradient(#e66465, #9198e5);
  background-size: cover;
  background-position: center;
}

.card-content {
  padding: 15px;
  text-align: left;
}

.card-title {
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 10px;
  color: #333;
}

.card-description {
  font-size: 14px;
  color: #666;
}

.swiper-container {
  width: 100%;
  padding: 20px 0;
}

.swiper-slide {
  display: flex;
  justify-content: center;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.overlay img,
.overlay video {
  max-width: 90%;
  max-height: 90%;
  border-radius: 10px;
}

.close-btn {
  position: absolute;
  top: 20px;
  right: 20px;
  background-color: #ff4d4d;
  color: #ffffff;
  border: none;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  font-size: 18px;
  font-weight: bold;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-color 0.3s;
}

.close-btn:hover {
  background-color: #e60000;
}
