
.security-content {
    display: flex;
    align-items: center;
    gap: 20px;
    width: 100%;
    justify-content: space-between;
}

.service-list{
    display: flex;
}
.tecnology{
    margin-left: var(--space-2xl);
}